/* Estiliza o contêiner do menu de navegação */
nav {
    background-color: #66a4ae;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao contêiner do menu */
}

/* Remove a marcação da lista e centraliza os itens */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Estiliza cada item da lista */
nav ul li {
    margin: 0 15px;
    position: relative; /* Necessário para posicionar o dropdown */
}

/* Estiliza os links dentro do menu */
nav ul li a {
    color: #ffffff; /* Cor do texto */
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra no texto */
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transição suave */
}

/* Efeito ao passar o mouse sobre o link */
nav ul li a:hover {
    color: #4e5482; /* Cor do texto ao passar o mouse */
    transform: scale(1.1); /* Efeito de zoom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais forte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra mais forte no texto */
}

/* Estilo dos cabeçalhos */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilo do menu suspenso (dropdown) */
nav ul li .dropdown-content {
    display: none; /* Oculta o conteúdo do dropdown */
    position: absolute;
    background-color: #66a4ae;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra ao redor do dropdown */
    z-index: 1;
    min-width: 160px;
    padding: 0;
}

/* Estiliza os itens do dropdown */
nav ul li .dropdown-content li {
    margin: 0;
}

/* Estiliza os links dentro do dropdown */
nav ul li .dropdown-content li a {
    padding: 10px 15px;
    color: #ffffff; /* Cor dos links do dropdown */
    text-decoration: none;
    display: block;
}

/* Efeito ao passar o mouse sobre os links do dropdown */
nav ul li .dropdown-content li a:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse */
}

/* Mostra o dropdown ao passar o mouse sobre o item do menu */
nav ul li:hover .dropdown-content {
    display: block;
}
